.CounterSelect {
  .Input label {
    display: flex;

    .back {
      order: 1;
    }

    .value,
    .forward {
      order: 2;
    }

    .value,
    input {
      text-align: center;
    }

    .value {
      flex-grow: 1;
    }

    .Icon {
      opacity: 1;
    }
  }

  .arrowIcon {
    display: none;
  }
}
