@import '../../../../variables';

.ReadOnlyInput {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Input {
    flex-basis: 100%;
  }

  .Input label {
    background-color: transparent;
    border-bottom: 0px none;
  }

  input {
    @include ss('font-size', 18px, 21px);
  }
}

.ReadOnlyInput + .ReadOnlyInput {
  margin-top: 16px;
}
