.Card {
  > .Label {
    margin-left: 16px;
  }

  .Buttons {
    justify-content: flex-end;
    padding-bottom: 8px;
    margin-right: 8px;
    margin-top: 0;
  }

  &.Panel:not(.framed) .Banner {
    padding-left: 0;
    padding-right: 0;
  }
}
