@import '../../variables';

.Form {
  > * + * {
    margin-top: 24px;
  }

  > *:first-child {
    margin-top: 32px;
  }

  .actions {
    margin-top: 32px;
  }

  .Buttons {
    margin-top: 8px;
  }
}
