@import '../../variables';

.Content {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  @include ss('padding-top', $spacing-large-mobile, $spacing-large-desktop);
  @include ss('padding-bottom', $spacing-large-mobile, $spacing-large-desktop);
}
